##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# OS X only:
.DS_Store
*.swp
*.Trashes

# Windows:
Desktop.ini
Thumbs.db
 
# All platforms:
Library
/Library/
/Library/*
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
Assets/Standard Assets/Water (Pro Only)/Water4/Sources/Materials/Water4Example.mat
Assets/Standard Assets/Water (Pro Only)/Water4/Sources/Materials/Water4Example.mat.meta
